.form-container {
  margin: 0 auto;
  width: 50%;

  .input-container {
    margin: 0 auto;
    width: 75%;
    position:relative;
  }

  .form-field {
    width: 100%;
    border: 1px solid rgb(196, 205, 213);
    border-radius: 6px;
    padding: 10px 125px 10px 15px;
  }

  .form-button {
    padding: 10px 15px;
    background-color: $gamingpub-red;
    border: 1px solid $gamingpub-red;
    border-radius: 0 6px 6px 0;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    right: 0px;
  }

  .form-block.title {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .form-container {
    width: 95%;

    .input-container {
      width: 100%;
    }
  }
}
